# Terraform-specific
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfplan
crash.log

# OS 및 에디터별 파일
.DS_Store            # macOS 시스템 파일
Thumbs.db            # Windows 시스템 파일

# IDE 및 편집기 관련 파일
.vscode/             # VSCode 설정 폴더

# .env